.spacer {
    flex: 1;
  }
  
  .active-link {
    font-weight: bold;
    color: yellow;
  }
  
  .container {
    padding: 20px;
  }

  .mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
    gap:20px;
}
